body {
  background-color: rgb(70, 70, 70);
}
/* 
BEGIN CSS FOR HEADER
*/

/* 
BEGIN CSS FOR MAIN
*/
#main {
  Width: 100%;
  text-align: center;
  background-color: rgb(70, 70, 70);
  display: flex;
  flex-direction: column;
}

#title {
  padding-bottom: .2em;
  background-color: rgb(70, 70, 70);
  color: white;
  font-size: large;
}
/* 
BEGIN CSS FOR BASAL CALCULATOR VIEW
*/

#basal-options {
  display: flex;
  flex-direction: row;
  width: 100%
  /* position: static; */

}

#basal-options-col1 {
  display: flex;
  flex-direction: column;
  /* left: 3px; */
  width: 50%;
  padding-right: 13px;
}

#basal-options-col2 {
  position:absolute;
  left: 50%;
  transform: translate(-50%, 0);
  
}

#basal-options-col3 {
  display: flex;
  flex-direction: column;
  width: 50%;
  /* right: 3px; */
  padding-left: 13px;
}


#start-basal-label, #end-basal-label {
  color: white;
  font-size: large;

}

#start-basal-date {
  background-color: #858585;
  color: white;
  font-size: medium;
  height: 1em;
}

 #end-basal-date {
  background-color: #858585;
  color: white;
  font-size: medium;
  /* padding-left: -.4em; */
  height: 1em;
}
/*go button*/
#basal-getdata-button {
  background-color: white;
  color: black;
  font-size: small;
  border-radius: 15px;
}

#chart-container{

  margin-top: 5px;
  align-items: center;
  justify-content: center;
}

#bg-chart {
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  transition: 1s;
  height: 100%;
  /* width: 100%; */

}

#basal-controls {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#mod-basal-title {
  color: white;
  font-size: large;
  width: 100%;
}

#mod-basal{
  font-size: x-large;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
} 
.controlButtons {
  font-size: x-large;
  border-radius: 15%;
  margin: .75em; 
  width: 1.5em;


}

#hour {
  width: 2.4ch;
}

#minute {
  width: 2.2ch;
}

#am-pm {
  width: 2.7ch;
} 

#rate {
  width: 4ch;
}

.controlFields {
  font-size: large;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

#basal-go-button {

  /* width: 10em;
  height: 2.5em; */
  font-size: large;
  background-color: gray;
  border-radius: 5px;
}

/* 
BEGIN CSS FOR ICR VIEW
*/
#icr-button {
  font-size: xx-large;

}

#icr-table {
  color: white;

}

a {
  color: rgb(249, 139, 35);
}

a:visited {
  color: rgb(249, 139, 35);
}

/* 
BEGIN CSS FOR ISF VIEW
*/
#isf-table {
  color: white;

}
/* 
BEGIN CSS FOR SETTINGS
*/
#url-label {
  padding-top: 0px;
}
#url {
  width:80%;
  margin-bottom: 0px;
  margin-top: 0px;
}

#url, #days, #isf, #icr, #weight, #target-bg {
  font-size: medium;
  color: white;
  background-color: #858585;
}

 #url-label, #days-label, #isf-label, #icr-label, #weight-label, #target-bg-label {
  font-size: medium;
  color: white;
}

#url-label, #days-label, #isf-label, #icr-label, #weight-label {
  font-size: medium;
  margin-bottom: 10px;
}

#days, #isf, #icr, #weight, #target-bg {
  width: 125px;
  margin-bottom: 0px;
  margin-top: 0px;
}

#save-button {
  width: 50%;
  max-width: 400px;
  height: 30px;
  font-size: large;
  border-radius: 6px;
  margin-top: 10px;
}
/* 
BEGIN CSS FOR FOOTER
*/
#footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  /* height: 8em; */
  background-color: #fff;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
  background-color: rgb(33, 33, 33);
}

.menu-button {
  background: transparent;
  border: none;
  color: white;
}

.icon {
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* width: 6em;
  height: 6em; */
}

#copyright {
  text-align: left;
  color: black;
}


/* Use to center*/
  /* left: 50%;
  transform: translate(-50%, 0); */