body {
  background-color: rgb(70, 70, 70);
}
/* 
BEGIN CSS FOR HEADER
*/
#header {
  Width: auto;
  text-align: center;
  font-size: 20px;
  font-weight: bolder;
  background-color: #000000;
  color: white;
  }

  #title {
    padding-top: 10px;
    text-align: center;
    padding-bottom: 10px;
    background-color: rgb(70, 70, 70);
    color: white;
    font-size: 30px;
  }
/* 
BEGIN CSS FOR MAIN
*/
#main {
  /* Width: auto; */
  text-align: center;
  font-size:medium;
  background-color: rgb(70, 70, 70);
}

/* 
BEGIN CSS FOR BASAL CALCULATOR VIEW
*/

#bg-chart {
  background-color: white;
  border-radius: 15px;
  height: fit-content;
  transition: 1s;
  min-height: 200px;
  max-width: fit-content;

}

#basal-options {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 150px;
  display: flex;
}

#basal-go-button {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  width: 50%;
  height: 25px;
  font-size: large;
  background-color: gray;
  border-radius: 5px;
  margin-top: 25px;
  bottom: 100px;
}

#start-basal-label, #end-basal-label {
  color: white;
}

#start-basal-date, #end-basal-date {
  background-color: #858585;
  color: white;
}

/* 
BEGIN CSS FOR ICR VIEW
*/
#icr-table {
  color: white;

}

a {
  color: rgb(249, 139, 35);
}

a:visited {
  color: rgb(249, 139, 35);
}

/* 
BEGIN CSS FOR ISF VIEW
*/
#isf-table {
  color: white;

}
/* 
BEGIN CSS FOR SETTINGS
*/
#url-label {
  padding-top: 0px;
}
#url {
  width:80%;
  margin-bottom: 0px;
  margin-top: 0px;
}

#url, #days, #isf, #icr, #weight, #target-bg {
  font-size: medium;
  color: white;
  background-color: #858585;
}

 #url-label, #days-label, #isf-label, #icr-label, #weight-label, #target-bg-label {
  font-size: medium;
  color: white;
}

#url-label, #days-label, #isf-label, #icr-label, #weight-label {
  font-size: medium;
  margin-bottom: 10px;
}

#days, #isf, #icr, #weight, #target-bg {
  width: 125px;
  margin-bottom: 0px;
  margin-top: 0px;
}

#save-button {
  width: 50%;
  max-width: 400px;
  height: 30px;
  font-size: large;
  border-radius: 6px;
  margin-top: 10px;
}
/* 
BEGIN CSS FOR FOOTER
*/
#footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70px;
  background-color: #fff;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
  background-color: rgb(33, 33, 33);
}

.menu-button {
  background: transparent;
  border: none;
  color: white;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}

#copyright {
  text-align: left;
  color: black;
}

#pride {
  background: linear-gradient(to right, #FFFF00, #FFFFFF, #8F00FF, #000000);
}
